* {
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: lightgray;
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h3  {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.info {
  text-align: center;
}

.half {
  display: inline-block;
  width: 49%;
  height: auto;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
}

.submitButton {
  margin-top: 10px;
  text-align: center;
}
